---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import FAQItem from '../components/FAQSection.astro';

const pageTitle = "Votre Site Vitrine | Création de Sites Web pour l'Augmentation des Ventes";
const pageDescription = "Créez une présence en ligne puissante et professionnelle. Spécialiste des sites vitrine optimisés pour convertir vos visiteurs en clients.";
---

<BaseLayout title={pageTitle} description={pageDescription}>
    <Header /> 
    <main>
        <Hero />
        <FAQItem />
        </main>
    </BaseLayout>