---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Portfolio from '../components/Portfolio.astro';
import Faq from '../components/Faq.astro';

const pageTitle = "Développeur Web Freelance | Création Site Internet Sur-Mesure | William SART";
const pageDescription = "Expert en performance web. Je crée des sites vitrines ultra-rapides (Score 100/100) et des applications métiers pour TPE/PME. Hébergement sécurisé en France.";
---

<Layout title={pageTitle} description={pageDescription}>
    <main>
        <Hero />
        <Services />
        <Portfolio />
        <Faq />
    </main>
</Layout>